.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    text-decoration: none; /* Remove underline from link */
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    margin-left: auto; /* Move links to the right */
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-links {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-links:hover {
    background-color: #ddd;
  }
  