
.stock-list-container{
    max-width: min-content;
    height: 470px;
}

.stock-list-wrapper{

    row-gap: 3px;
    width: max-content;
    align-items: center;
    justify-content: center;

}
.stock-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    justify-content: center;
  }
  
  .stock-table th,
  .stock-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  .stock_name{
    text-align: left;
  }
  
  .stock-table th {

    justify-content: center;
    background-color: #f2f2f2;
    margin-bottom: 3px;
  }

 .tiny-chart{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    border-radius: 8px;
    justify-content: center;
    background-color: rgb(236,230,246);
 }

 .chartheader{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding-left: 10px;
 }
  